OpenFOAM/damBreak/
OpenFOAM/logs/
OpenFOAM/result_time
OpenFOAM/cups_structure.zip
cspot/cspot
cspot/data/
cspot/daviscupsout.last
service/INPUT/*
service/OUTPUT/*
service/launch.sh.*
service/rp.session.*
