OpenFOAM/damBreak/
OpenFOAM/parallel_test/logs/
OpenFOAM/parallel_test/result_time
OpenFOAM/parallel_test/cups_structure.zip
cspot/cspot
cspot/data/
cspot/daviscupsout.last
service/INPUT/*
service/OUTPUT/*
service/launch.sh.*
service/rp.session.*
