cspot
cspot/*
scratchspace
scratchspace/*

nohup*

__*
*.csv
*.log
*.vtk
*.png
*.txt
*.zip
vtk_*
!vtk_to_csv.py
models/
models/*
training/experiment_cfd_*
simulation/cups_structure_w*
simulation/cups_structure*
simulations/cups_structure_*
_dump/
train
deploy_to_machine.sh
id_rsa
config.sh
racelabgpu
system_status_report.sh
test_dispatch_bug.sh
ucsb_cluster
simulations/cups_structure_*
simulation/cups_historical
*.keras
results/w
nersc
steps/run_training_steps
*.pkl
results
results/*
!lib
jobs_logs
logs
makeflow.failed.*/
uge.status.*
uge.wrapper
slurm.wrapper
slurm.status.*
makeflow.debug
wq-factory-*/
.vscode/
senspot/
bin/
